@section featured
{
    <!-- breadcrumb start -->
    <!-- ================ -->
    <div class="breadcrumb-container">
        <div class="container">
            <ol class="breadcrumb">
                <li><i class="fa fa-home pr-10"></i><a href="/Home/Index">Home</a></li>
                <li class="active">Blog Post</li>
            </ol>
        </div>
    </div>
    <!-- breadcrumb end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-8">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">Computer Virus</h1>
                    <!-- page-title end -->

                    <!-- blogpost start -->
                    <!-- ================ -->
                    <article class="blogpost full">
                        <header>
                            <div class="post-info">
                                <span class="post-date">
                                    <i class="icon-calendar"></i>
                                    <span class="day">12</span>
                                    <span class="month">May 2015</span>
                                </span>
                                <span class="submitted"><i class="icon-user-1"></i>by <a href="#">Admin</a></span>
                                @*<span class="comments"><i class="icon-chat"></i><a href="#">22 comments</a></span>*@
                            </div>
                        </header>
                        <div class="blogpost-content">
                            <div id="carousel-blog-post" class="carousel slide mb-20" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-blog-post" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-blog-post" data-slide-to="1"></li>
                                    <li data-target="#carousel-blog-post" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/virus-1.jpg" alt="">
                                            <a class="overlay-link popup-img" href="~/Content/images/virus-1.jpg"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/virus-2.jpg" alt="">
                                            <a class="overlay-link popup-img" href="~/Content/images/virus-2.jpg"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="overlay-container">
                                            <img src="~/Content/images/virus-3.jpg" alt="">
                                            <a class="overlay-link popup-img" href="~/Content/images/virus-3.jpg"><i class="fa fa-search-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                                A virus is a program that can copy itself,
                        usually by attaching itself to another object.
                        Viruses can infect program files, documents (in the form of macro viruses),
                        or low-level disk and file-system structures such as the boot sector and partition table.
                        Viruses can run when an infected program file runs; they can also reside in memory and infect files as the user opens,
                        saves, or creates the files.
                            </p>
                            <p>How do you know if you’ve got viruses on your PC?</p>
                            <p>
                                If you have often notice file corruption on your PC, if file icons change from their normal
                        icon to a question mark or something similar or if files that work pretty well
                        some weeks ago just aren’t working anymore, then you are probably infected with viruses
                        (seriously, I don’t know if it’s you that’s infected or your PC).
                            </p>
                            <p>
                                If your PC has got viruses or malwares or other threats, what should you do?
                            </p>
                            <p>
                                If it’s a malware, then get your PC scanned by a responsible antimalware such as malwarebytes.
                        If it’s a virus, then:
                            </p>
                            <ol>
                                <li>Get a good antivirus to scan your PC.
                            I’d recommend “AVG internet security”, it’s not actually free but you can still use their free antivirus.
                            Make sure you update the antivirus before you make use of it though. Your PC should then be safe after a successful scan is completed.

                                </li>
                                <li>If the virus still doesn’t get removed (probably it’s a rootkit), then consider formatting your hard drive.
                            But to do this, you should have other partitions on your PC, and then move your personal files
                            and folders to the partition (provided you are very sure they’ve got no virus too. The secret is,
                            move your personal files to other partition(s) and use an antivirus software to scan that partition,
                            antiviruses do a great work in that respect) and then format the system drive i.e. drive C. If it’s a
                            deadly threat like rootkit, you might consider formatting your PC with “cipher” (I’m not going to discuss
                            how to use that though; contact experts).</li>
                            </ol>



                            <p>
                                NB: Installing a good antivirus and other anti-threat software on your
                        PC does not guarantee your safety against threats, one thing you must do always
                        is to make sure you update your anti-threat engine very often, this is because threats (viruses, worms etc.)
                        are released almost every day, anti-threat manufacturers therefore update
                        their databases often as soon as new threat is released to make sure you are fully
                        protected, that implies that there is no way you would be protected against recent
                        threats until you update your anti-threat engine.
                            </p>
                        </div>
                        @*<footer class="clearfix">
                            <div class="tags pull-left"><i class="icon-tags"></i><a href="#">tag 1</a>, <a href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                            <div class="link pull-right">
                                <ul class="social-links circle small colored clearfix margin-clear text-right animated-effect-1">
                                    <li class="twitter"><a target="_blank" href="http://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                    <li class="googleplus"><a target="_blank" href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                    <li class="facebook"><a target="_blank" href="http://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                                </ul>
                            </div>
                        </footer>*@
                    </article>
                    <!-- blogpost end -->

                    <!-- comments start -->
                    <!-- ================ -->
                    @*<div id="comments" class="comments">
                        <h2 class="title">There are 3 comments</h2>

                        <!-- comment start -->
                        <div class="comment clearfix">
                            <div class="comment-avatar">
                                <img class="img-circle" src="~/Content/images/avatar.jpg" alt="avatar">
                            </div>
                            <header>
                                <h3>Comment title</h3>
                                <div class="comment-meta">By <a href="#">admin</a> | Today, 12:31</div>
                            </header>
                            <div class="comment-content">
                                <div class="comment-body clearfix">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                                    <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i>Reply</a>
                                </div>
                            </div>

                            <!-- comment start -->
                            <div class="comment clearfix">
                                <div class="comment-avatar">
                                    <img class="img-circle" src="~/Content/images/avatar.jpg" alt="avatar">
                                </div>
                                <header>
                                    <h3>Comment title</h3>
                                    <div class="comment-meta">By <a href="#">admin</a> | Today, 12:31</div>
                                </header>
                                <div class="comment-content">
                                    <div class="comment-body clearfix">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                                        <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i>Reply</a>
                                    </div>
                                </div>
                            </div>
                            <!-- comment end -->

                        </div>
                        <!-- comment end -->

                        <!-- comment start -->
                        <div class="comment clearfix">
                            <div class="comment-avatar">
                                <img class="img-circle" src="~/Content/images/avatar.jpg" alt="avatar">
                            </div>
                            <header>
                                <h3>Comment title</h3>
                                <div class="comment-meta">By <a href="#">admin</a> | Today, 12:31</div>
                            </header>
                            <div class="comment-content">
                                <div class="comment-body clearfix">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo </p>
                                    <a href="blog-post.html" class="btn-sm-link link-dark pull-right"><i class="fa fa-reply"></i>Reply</a>
                                </div>
                            </div>
                        </div>
                        <!-- comment end -->

                    </div>
                    <!-- comments end -->

                    <!-- comments form start -->
                    <!-- ================ -->
                    <div class="comments-form">
                        <h2 class="title">Add your comment</h2>
                        <form role="form" id="comment-form">
                            <div class="form-group has-feedback">
                                <label for="name4">Name</label>
                                <input type="text" class="form-control" id="name4" placeholder="" name="name4" required>
                                <i class="fa fa-user form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="subject4">Subject</label>
                                <input type="text" class="form-control" id="subject4" placeholder="" name="subject4" required>
                                <i class="fa fa-pencil form-control-feedback"></i>
                            </div>
                            <div class="form-group has-feedback">
                                <label for="message4">Message</label>
                                <textarea class="form-control" rows="8" id="message4" placeholder="" name="message4" required></textarea>
                                <i class="fa fa-envelope-o form-control-feedback"></i>
                            </div>
                            <input type="submit" value="Submit" class="btn btn-default">
                        </form>
                    </div>
                    <!-- comments form end -->
                </div>*@
                    <!-- main end -->


                </div>


                <!-- sidebar start -->
                <!-- ================ -->
                <aside class="col-md-4 col-lg-3 col-lg-offset-1">
                    <div class="block clearfix">
                        <h3 class="title">Latest News</h3>
                        <div class="separator-2"></div>
                        <div class="media margin-clear">
                            <div class="media-left">
                                <div class="overlay-container">
                                    <img class="media-object" src="~/Content/images/blog-1-thumb.jpg" alt="blog-thumb">
                                    <a href="/Blog/blog1" class="overlay-link small"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="/Blog/blog1">Making USB Bootable</a></h6>
                                <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 23, 2015</p>
                            </div>
                            <hr>
                        </div>
                        <div class="media margin-clear">
                            <div class="media-left">
                                <div class="overlay-container">
                                    <img class="media-object" src="~/Content/images/hdd-2-thumb.jpg" alt="blog-thumb">
                                    <a href="/Blog/blog2" class="overlay-link small"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="/Blog/blog2">Hard disk partition</a></h6>
                                <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 22, 2015</p>
                            </div>
                            <hr>
                        </div>
                        <div class="media margin-clear">
                            <div class="media-left">
                                <div class="overlay-container">
                                    <img class="media-object" src="~/Content/images/vci-2-thumb.jpg" alt="blog-thumb">
                                    <a href="/Blog/blog3" class="overlay-link small"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="/Blog/blog3">Distributed Version Control</a></h6>
                                <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>
                            </div>
                            <hr>
                        </div>
                        <div class="media margin-clear">
                            <div class="media-left">
                                <div class="overlay-container">
                                    <img class="media-object" src="~/Content/images/virus-2-thumb.jpg" alt="blog-thumb">
                                    <a href="/Blog/blog4" class="overlay-link small"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h6 class="media-heading"><a href="/Blog/blog4">Computer Virus</a></h6>
                                <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- sidebar end -->
            </div>
        </div>
    </section>
    <!-- main-container end -->
}