@{
    ViewBag.Title = "Home Page";
}
@section featured {

    <!-- banner start -->
    <!-- ================ -->
    <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

            <!-- slider revolution start -->
            <!-- ================ -->
            <div class="slider-banner-container">
                <div class="slider-banner-fullscreen">
                    <ul class="slides">
                        <!-- slide 1 start -->
                        <!-- ================ -->
                        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Highcon Technologies">

                            <!-- main image -->
                            <img src="~/Content/images/page-about-2.jpg" alt="slidebg1" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg"
                                data-x="center"
                                data-y="bottom"
                                data-speed="500"
                                data-easing="easeOutQuad"
                                data-start="0">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption sfr stl xlarge_white"
                                data-x="center"
                                data-y="70"
                                data-speed="200"
                                data-easing="easeOutQuad"
                                data-start="1000"
                                data-end="2500"
                                data-splitin="chars"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-splitout="chars">
                                Experience
							
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfl str xlarge_white"
                                data-x="center"
                                data-y="70"
                                data-speed="200"
                                data-easing="easeOutQuad"
                                data-start="2500"
                                data-end="4000"
                                data-splitin="chars"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-splitout="chars">
                                Innovation
							
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption sfr stt xlarge_white"
                                data-x="center"
                                data-y="70"
                                data-speed="200"
                                data-easing="easeOutQuad"
                                data-start="4000"
                                data-end="6000"
                                data-splitin="chars"
                                data-elementdelay="0.1"
                                data-endelementdelay="0.1"
                                data-splitout="chars"
                                data-endspeed="400">
                                Success
							
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption sft fadeout text-center large_white"
                                data-x="center"
                                data-y="70"
                                data-speed="500"
                                data-easing="easeOutQuad"
                                data-start="6400"
                                data-end="10000">
                                <span class="logo-font">High <span class="text-default">con</span></span>
                                <br>
                                Technologies
							
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption sfr fadeout"
                                data-x="center"
                                data-y="210"
                                data-hoffset="-232"
                                data-speed="500"
                                data-easing="easeOutQuad"
                                data-start="1000"
                                data-end="5500">
                                <span class="icon large circle"><i class="circle icon-lightbulb"></i></span>
                            </div>

                            <!-- LAYER NR. 6 -->
                            <div class="tp-caption sfl fadeout"
                                data-x="center"
                                data-y="210"
                                data-speed="500"
                                data-easing="easeOutQuad"
                                data-start="2500"
                                data-end="5500">
                                <span class="icon large circle"><i class="circle icon-arrows-ccw"></i></span>
                            </div>

                            <!-- LAYER NR. 7 -->
                            <div class="tp-caption sfr fadeout"
                                data-x="center"
                                data-y="210"
                                data-hoffset="232"
                                data-speed="500"
                                data-easing="easeOutQuad"
                                data-start="4000"
                                data-end="5500">
                                <span class="icon large circle"><i class="circle icon-chart-line"></i></span>
                            </div>

                            <!-- LAYER NR. 8 -->
                            <div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
                                data-x="center"
                                data-y="170"
                                data-speed="500"
                                data-easing="easeOutQuad"
                                data-start="6400"
                                data-end="10000">
                                <div class="separator light"></div>
                            </div>

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption sft fadeout medium_white text-center"
                                data-x="center"
                                data-y="210"
                                data-speed="500"
                                data-easing="easeOutQuad"
                                data-start="5800"
                                data-end="10000"
                                data-endspeed="600">
                                We offer the best software solutions.
                                    <br>
                                We develop as if we are reading your mind! That's
                                    <br>
                                why we've always gotten a positive feedback...
							
                            </div>

                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption fade fadeout"
                                data-x="center"
                                data-y="bottom"
                                data-voffset="100"
                                data-speed="500"
                                data-easing="easeOutQuad"
                                data-start="2000"
                                data-end="10000"
                                data-endspeed="200">
                                <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
                            </div>
                        </li>
                        <!-- slide 1 end -->

                        <!-- slide 2 start -->
                        <!-- ================ -->
                        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Highcon Technologies">

                            <!-- main image -->
                            <img src="~/Content/images/page-portfolio-banner.jpg" alt="slidebg2" data-bgposition="center top" data-bgrepeat="no-repeat" data-bgfit="cover">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg"
                                data-x="center"
                                data-y="bottom"
                                data-speed="500"
                                data-easing="easeOutQuad"
                                data-start="0">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption sfb fadeout large_white"
                                data-x="left"
                                data-y="70"
                                data-speed="500"
                                data-start="1000"
                                data-easing="easeOutQuad"
                                data-end="10000">
                                <span class="logo-font">Highcon</span>
                                <br>
                                Technologies
							
                            </div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption sfb fadeout text-left medium_white"
                                data-x="left"
                                data-y="200"
                                data-speed="500"
                                data-start="1300"
                                data-easing="easeOutQuad"
                                data-endspeed="600">
                                <span class="icon default-bg circle small hidden-xs"><i class="fa fa-laptop"></i></span>100% Reliable
							
                            </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption sfb fadeout text-left medium_white"
                                data-x="left"
                                data-y="260"
                                data-speed="500"
                                data-start="1600"
                                data-easing="easeOutQuad"
                                data-endspeed="600">
                                <span class="icon default-bg circle small hidden-xs"><i class="icon-check"></i></span>Experienced team
							
                            </div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption sfb fadeout text-left medium_white"
                                data-x="left"
                                data-y="320"
                                data-speed="500"
                                data-start="1900"
                                data-easing="easeOutQuad"
                                data-endspeed="600">
                                <span class="icon default-bg circle small hidden-xs"><i class="icon-gift"></i></span>Awesome support
							
                            </div>

                            <!-- LAYER NR. 5 -->
                            <div class="tp-caption sfb fadeout text-left medium_white"
                                data-x="left"
                                data-y="380"
                                data-speed="500"
                                data-start="2200"
                                data-easing="easeOutQuad"
                                data-endspeed="600">
                                <span class="icon default-bg circle small hidden-xs"><i class="icon-hourglass"></i></span>Astonishing Solutions
							
                            </div>

                            @*<!-- LAYER NR. 6 -->
                                <div class="tp-caption sfb fadeout small_white"
                                    data-x="left"
                                    data-y="450"
                                    data-speed="500"
                                    data-start="2500"
                                    data-easing="easeOutQuad"
                                    data-endspeed="600">
                                    <a href="#" class="btn btn-default btn-lg btn-animated">Purchase <i class="fa fa-cart-arrow-down"></i></a>
                                </div>*@
                        </li>
                        <!-- slide 2 end -->
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
            <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

    </div>
    <!-- banner end -->

    <div id="page-start"></div>
    <!-- section start -->
    <!-- ================ -->
    <section class="light-gray-bg pv-30 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Core <strong>Features</strong></h2>
                    <div class="separator"></div>
                    <p class="large text-center">
                        Our customers have always been happy they chose our solutions.

                    </p>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
                        <h3>Astonishing Solutions</h3>
                        <div class="separator clearfix"></div>
                        <p>
                            Our solutions have been the source of strength of severall organizations.
                            We develop as if we are reading minds because we've made customer's best our default.
                        </p>
                        @*<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>*@
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
                        <span class="icon default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                        <h3>Extremely Reliable</h3>
                        <div class="separator clearfix"></div>
                        <p>
                            We've got a host of experienced staffs whose experienced has lent the ability to wax well, work as a team
                            and develop solutions that solves people's problems.
                        </p>
                        @*<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>*@
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon default-bg circle"><i class="fa icon-snow"></i></span>
                        <h3>Latest Technologies</h3>
                        <div class="separator clearfix"></div>
                        <p>
                            We make use of cutting edge techologies to develop our solutions.
                            That is just the simple secret behind our solutions.
                            We scale well with technological advancement.
                        </p>
                        @*<a href="page-services.html">Read More <i class="pl-5 fa fa-angle-double-right"></i></a>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section default-bg clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-sm-8">
                                <h1 class="title">Don't Miss Out Our Offers</h1>
                                <p>Our list of services is not exhaustive. Take your time to check out what we have to offer and discover the several opportunities
                                    that awaits you when you become our customer.
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <br>
                                <p><a href="/Home/Services" class="btn btn-lg btn-gray-transparent btn-animated">Learn More<i class="fa fa-arrow-right pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section -->
    <!-- ================ -->
    <section class="pv-30">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Why <strong>Choose</strong> Our Solutions</h2>
                    <div class="separator"></div>
                    <p class="large text-center">
                        You don't want to miss joining our bank of customers.
                        We have a lot of customers and we are still able to serve everyone with something better than their need.
                    </p>
                    <br>
                </div>
            </div>
        </div>
        <div class="owl-carousel content-slider-with-large-controls">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/Content/images/edited-image1.png" alt="">
                    </div>
                    <div class="col-md-6">
                        <p class="space-top">
                            Let our years of experience coupled with our research stregth solve the problem for you.
                            Our creative power is excellent, we bet you'd love it too.
                        </p>
                        <div class="media">
                            <div class="media-left pr-20">
                                <a href="#">
                                    <span class="icon circle small default-bg"><i class="icon-eye"></i></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Team of experts</h4>
                                We are the quintessential IT firm you have been combing for.
								
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left pr-20">
                                <a href="#">
                                    <span class="icon circle small default-bg"><i class="icon-trophy"></i></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Packed Full Of Features</h4>
                                Our solutions are always full of astonishing features that would beat your imagination.
								
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left pr-20">
                                <a href="#">
                                    <span class="icon circle small default-bg"><i class="icon-lifebuoy"></i></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">24/7 Support</h4>
                                Our support team would always be at your service.
                                You'd never have a second of stress.
								
                            </div>
                        </div>
                        <p><a href="/Home/Services" class="btn btn-default-transparent btn-animated">Learn More <i class="fa fa-arrow-right pl-10"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <p class="space-top">
                            Let our years of experience coupled with our research stregth solve the problem for you.
                            Our creative power is excellent, we bet you'd love it too.
                        </p>
                        <div class="media">
                            <div class="media-left pr-20">
                                <a href="#">
                                    <span class="icon circle small default-bg"><i class="icon-eye"></i></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Team of experts</h4>
                                We are the quintessential IT firm you have been combing for.
								
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left pr-20">
                                <a href="#">
                                    <span class="icon circle small default-bg"><i class="icon-trophy"></i></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Packed Full Of Features</h4>
                                Our solutions are always full of astonishing features that would beat your imagination.
								
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left pr-20">
                                <a href="#">
                                    <span class="icon circle small default-bg"><i class="icon-lifebuoy"></i></span>
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">24/7 Support</h4>
                                Our support team would always be at your service.
                                You'd never have a second of stress.
								
                            </div>
                        </div>
                        <p><a href="/Home/Services" class="btn btn-default-transparent btn-animated">Learn More <i class="fa fa-arrow-right pl-10"></i></a></p>
                    </div>
                    <div class="col-md-6">
                        <img src="~/Content/images/edited-image2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="light-gray-bg pv-20">
    </section>
    <!-- section end -->

    <!-- section -->
    <!-- ================ -->
    <section class="pv-30">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>What We <strong>Offer</strong></h2>
                    <div class="separator-2"></div>
                    <p>We offer <span class="text-default">IT solutions &amp; services</span> that has been the source of strength of several organizations.</p>
                    <ul class="list-icons">
                        <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100"><i class="icon-check-1"></i>Web Solutions</li>
                        <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="150"><i class="icon-check-1"></i>Desktop applications</li>
                        <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200"><i class="icon-check-1"></i>Mobile applications</li>
                        <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i>Software configuration</li>
                        <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i>System Administration</li>
                        <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i>Database Administration</li>
                        <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="250"><i class="icon-check-1"></i>Networking</li>
                    </ul>
                    <p>We are actually the best in what we do. Not beause we can make mouth, but beacuse we've been doing it successfully.</p>
                    <a href="/Home/Services" class="btn btn-default btn-hvr hvr-shutter-out-horizontal btn-lg"><i class="icon-users-1 pr-10"></i>Learn More</a>
                </div>
                <div class="col-md-6">
                    <br>
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs style-1" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="icon-heart pr-10"></i>We Love</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">What</a></li>
                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">We Do</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                <div class="overlay-container overlay-visible">
                                    <img src="~/Content/images/edited-image3.jpg" alt="">
                                    <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                                    <div class="overlay-bottom hidden-xs">
                                        <div class="text">
                                            Our software solutions are smart, reliable and efficient.
											
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                <div class="">
                                    <div class="overlay-container overlay-visible">
                                        <img src="~/Content/images/section-image-3.jpg" alt="">
                                        <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                                        <div class="overlay-bottom hidden-xs">
                                            <div class="text">
                                                We manage computers and database servers
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="messages">
                                <div class="overlay-container overlay-visible">
                                    <img src="~/Content/images/section-image-4-edited.jpg" alt="">
                                    <a href="#" class="overlay-link"><i class="fa fa-link"></i></a>
                                    <div class="overlay-bottom hidden-xs">
                                        <div class="text">
                                            We are an expert in networking, especially with cisco gadgets.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>
    <!-- section end -->

    <!-- section -->
    <!-- ================ -->
    <section class="pv-30 light-gray-bg padding-bottom-clear">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Our <strong>Portfolio</strong></h2>
                    <div class="separator"></div>
                    <p class="large text-center">Take a look at some of the projects we've done.</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="space-bottom">
            <div class="owl-carousel carousel">
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="~/Content/images/portfolio-2.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="http://www.tundexaluminium.com" target="_blank">Website</a></h3>
                                <p class="small">A company website</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a target="_blank" href="http://www.tundexaluminium.com" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="~/Content/images/portfolio-1.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a target="_blank" href="http://www.theganaftech.com">Website</a></h3>
                                <p class="small">A company website</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a target="_blank" href="http://www.theganaftech.com" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="~/Content/images/portfolio-3.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">SMART</a></h3>
                                <p class="small">School Management System</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="~/Content/images/portfolio-4.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a target="_blank" href="http://www.mssnlautech.org">Website</a></h3>
                                <p class="small">A website</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a target="_blank" href="http://www.mssnlautech.org" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="~/Content/images/portfolio-5.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">E-Yearbook</a></h3>
                                <p class="small">Yearbook application</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-box shadow text-center">
                    <div class="overlay-container">
                        <img src="~/Content/images/portfolio-6.jpg" alt="">
                        <div class="overlay-top">
                            <div class="text">
                                <h3><a href="#">Savings Scheme</a></h3>
                                <p class="small">Financial Savings Manager</p>
                            </div>
                        </div>
                        <div class="overlay-bottom">
                            <div class="links">
                                <a href="#" class="btn btn-gray-transparent btn-animated">View Details <i class="pl-10 fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="owl-carousel content-slider">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="testimonial text-center">
                                <div class="testimonial-image">
                                    <img src="~/Content/images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                                </div>
                                <h3>Just Perfect!</h3>
                                <div class="separator"></div>
                                <div class="testimonial-body">
                                    <blockquote>
                                        <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet turpis augue a justo.</p>
                                    </blockquote>
                                    <div class="testimonial-info-1">- Jane Doe</div>
                                    <div class="testimonial-info-2">By Company</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="testimonial text-center">
                                <div class="testimonial-image">
                                    <img src="~/Content/images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                                </div>
                                <h3>Amazing!</h3>
                                <div class="separator"></div>
                                <div class="testimonial-body">
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero culpa nostrum est quia eos esse vel!</p>
                                    </blockquote>
                                    <div class="testimonial-info-1">- Jane Doe</div>
                                    <div class="testimonial-info-2">By Company</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            @* <div class="container">
                <div class="clients-container">
                    <div class="clients">
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                            <a href="#">
                                <img src="~/Content/images/client-1.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="200">
                            <a href="#">
                                <img src="~/Content/images/client-2.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                            <a href="#">
                                <img src="~/Content/images/client-3.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="400">
                            <a href="#">
                                <img src="~/Content/images/client-4.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="500">
                            <a href="#">
                                <img src="~/Content/images/client-5.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="600">
                            <a href="#">
                                <img src="~/Content/images/client-6.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="700">
                            <a href="#">
                                <img src="~/Content/images/client-7.png" alt=""></a>
                        </div>
                        <div class="client-image object-non-visible" data-animation-effect="fadeIn" data-effect-delay="800">
                            <a href="#">
                                <img src="~/Content/images/client-8.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    @*<section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered background-img-7" style="background-position: 50% 50%;">
        <div class="clearfix">
            <div class="col-md-3 col-xs-6 text-center">
                <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <span class="icon dark-bg large circle"><i class="fa fa-diamond"></i></span>
                    <h3><strong>Projects</strong></h3>
                    <span class="counter" data-to="120" data-speed="5000">0</span>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <span class="icon dark-bg large circle"><i class="fa fa-users"></i></span>
                    <h3><strong>Clients</strong></h3>
                    <span class="counter" data-to="10" data-speed="5000">0</span>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <span class="icon dark-bg large circle"><i class="fa fa-cloud-download"></i></span>
                    <h3><strong>Downloads</strong></h3>
                    <span class="counter" data-to="736" data-speed="5000">0</span>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 text-center">
                <div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
                    <span class="icon dark-bg large circle"><i class="fa fa-share"></i></span>
                    <h3><strong>Shares</strong></h3>
                    <span class="counter" data-to="1720" data-speed="5000">0</span>
                </div>
            </div>
        </div>

    </section>*@
    <!-- section end -->
}

