@model dynamic

@section featured
{
    <!-- banner start -->
    <!-- ================ -->
    <div class="banner dark-translucent-bg" style="background-image: url('~/Content/images/page-services-banner.jpg'); background-position: 50% 32%;">
        <!-- breadcrumb start -->
        <!-- ================ -->
        <div class="breadcrumb-container">
            <div class="container">
                <ol class="breadcrumb">
                    <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="/Home/Index">Home</a></li>
                    <li class="active">Page Services</li>
                </ol>
            </div>
        </div>
        <!-- breadcrumb end -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center col-md-offset-2 pv-20">
                    <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">What We <strong>Provide</strong></h2>
                    <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                    <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
                        All our services are provided at their best. We don't joke with the satisfaction of our customers, that's why we always strive to
                        give the best.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container padding-bottom-clear">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                <span class="icon large default-bg circle"><i class="fa fa-desktop"></i></span>
                                <h3>Web Solutions</h3>
                                <div class="separator clearfix"></div>
                                <p class="text-muted">
                                    We use the best web technologies to provide cutting edge solutions.
                                    Our solutions are efficient, reliable, attractive and turnkey.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                                <span class="icon large default-bg circle"><i class="fa fa-connectdevelop"></i></span>
                                <h3>Desktop Applications</h3>
                                <div class="separator clearfix"></div>
                                <p class="text-muted">
                                    We develop desktop applications that run seamlessly on any operating system.
                                    We can help you turn your idea into an interesting solution so that your computer solve problems for you.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                                <span class="icon large default-bg circle"><i class="icon-snow"></i></span>
                                <h3>Mobile Applications</h3>
                                <div class="separator clearfix"></div>
                                <p class="text-muted">
                                    Our strength includes Java, Android, BlackBerry, Windows Phone and IOS.
                                    We are aware that these devices are memory inclined, that is why our solutions are extremely smart.
                                </p>

                            </div>
                        </div>
                        <div class="clearfix visible-md"></div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                                <span class="icon large default-bg circle"><i class="icon-check"></i></span>
                                <h3>Software Configuration</h3>
                                <div class="separator clearfix"></div>
                                <p class="text-muted">
                                    We are here to help you solve your software related problems.
                                    You can always rely on our support team when you need to configure a new software or have any software realted issues.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                                <span class="icon large default-bg circle"><i class="icon-lifebuoy-1"></i></span>
                                <h3>System Administration</h3>
                                <div class="separator clearfix"></div>
                                <p class="text-muted">
                                    Computer systems are the back bone of many solutions, that is why they must be managed efficiently.
                                    We are an expert in computer system maintenance, troubleshooting and repair. You can always contact us when you have issues.
                                </p>

                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                                <span class="icon large default-bg circle"><i class="icon-gift"></i></span>
                                <h3>Database Administration</h3>
                                <div class="separator clearfix"></div>
                                <p class="text-muted">
                                    We have great experience working with different database management systems.
                                    We have experts who have worked with database servers for years.
                                    Highcon Technologies is therefore the firm you should contact when you have databse related issues or you need
                                    to configure or manage database servers.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section background-img-1 dark-translucent-bg" style="background-position: 50% 42%;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-sm-8">
                                <h1 class="title">Unlimited Options</h1>
                                <p>
                                    Men are only limited by their imaginations! 
                                    Don't assume what we can do, contact us and you would be stunned.
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <br>
                                <p><a href="#" class="btn btn-lg btn-gray-transparent btn-animated">Contact us<i class="fa fa-coffee pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="pv-20 padding-bottom-clear clearfix">
        <div class="container">
            <h2 class="text-center">Extra Services</h2>
            <div class="separator"></div>
            <p class="text-center space-bottom">We do not only render software related services, we also render the following services on demand.</p>
            <div class="row">
                <div class="col-md-6 space-top">
                    <br>
                    <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon without-bg"><i class="fa fa-arrows"></i></span>
                        <div class="body">
                            <h4 class="title">Networking Configuration</h4>
                            <p>
                                We have a host of experts who have astonishing experience with networking.
                                We can help a great deal when you need to network your entire company and turn it into a global avatar.
                            </p>
                            <div class="separator-3"></div>
                        </div>
                    </div>
                    <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon without-bg"><i class="icon-megaphone"></i></span>
                        <div class="body">
                            <h4 class="title">Website Management</h4>
                            <p>
                                We can help you manage the website you have had in the past.
                                You don't need to disturb yourself about that nagging developer you've been tailing around.
                            </p>
                            <div class="separator-3"></div>
                        </div>
                    </div>
                    <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                        <span class="icon without-bg"><i class="icon-infinity"></i></span>
                        <div class="body">
                            <h4 class="title">Consultancy</h4>
                            <p>
                                We can help you with the design of that thought running through your mind.
                                We can help you out with strategies you can use to solve the problem you have been battling with.
                                We can help you map out how to go about the software project you are currently managing.
                            </p>
                        </div>
                    </div>
                    <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                        <span class="icon without-bg"><i class="icon-infinity"></i></span>
                        <div class="body">
                            <h4 class="title">Training</h4>
                            <p>
                                We have decided to give back to the society by training people on different aspects of Information Technology (IT).
                                You can contact us today if you would want to joun our team or would love to get trained by us.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/images/edited-image2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
    <!-- section start -->
    <!-- ================ -->
    <section class="pv-40 dark-translucent-bg background-img-1">
        <div class="container">
            <h2 class="title text-center"><strong>Benefits</strong></h2>
            <div class="separator"></div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon without-bg"><i class="fa fa-support"></i></span>
                        <div class="body">
                            <h4 class="title">Free Great Support</h4>
                            <p>We will assist you with any issues/bugs related to the use of our solutions.</p>
                            <div class="separator-3"></div>
                            <ul class="list-icons">
                                <li>Extremly Simple to Use <i class="icon-check-1"></i></li>
                                <li>Customize it in no time <i class="icon-check-1"></i></li>
                                <li>Unlimited options and variations <i class="icon-check-1"></i></li>
                                <li>We are here to support you <i class="icon-check-1"></i></li>
                            </ul>
                            <div class="separator-2"></div>
                        </div>
                    </div>
                    <br>
                    <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon light-bg small"><i class="fa fa-arrows"></i></span>
                        <div class="body">
                            <h4 class="title">Portable Solutions</h4>
                            <p>Our solutions is with portability in mind. Our solutions are compatible with various devices.</p>
                            <div class="separator-3"></div>
                        </div>
                    </div>
                    <br>
                    <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon light-bg small"><i class="fa fa-arrows"></i></span>
                        <div class="body">
                            <h4 class="title">Unlimited Options and Variations</h4>
                            <p>We add more functionalties than you asked for in our solutions so as to give greater power.</p>
                            <div class="separator-3"></div>
                        </div>
                    </div>

                    <br>
                </div>
                <div class="col-md-6">
                    <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon without-bg"><i class="fa fa-diamond"></i></span>
                        <div class="body">
                            <h4 class="title">Crystal Clean Design</h4>
                            <p>The User interface of our solutions are superb.</p>
                            <div class="separator-2"></div>
                            <ul class="list-icons">
                                <li>Smart<i class="icon-check-1"></i></li>
                                <li>Highly responsive <i class="icon-check-1"></i></li>
                                <li>Scale well with device size<i class="icon-check-1"></i></li>
                                <li>Fast and efficient.<i class="icon-check-1"></i></li>
                            </ul>
                            <div class="separator-3"></div>
                        </div>
                    </div>
                    <br>
                    <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon light-bg small"><i class="icon-snow"></i></span>
                        <div class="body">
                            <h4 class="title">Latest Technologies</h4>
                            <p>We use latest technologies to make our solutions stand out.</p>
                            <br />
                            <div class="separator-2"></div>
                        </div>
                    </div>
                    <br />
                    <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon light-bg small"><i class=" icon-tools"></i></span>
                        <div class="body">
                            <h4 class="title">Dedicated Support</h4>
                            <p>We have a great support team. They are always ready to help YOU solve your problems.</p>
                            <div class="separator-2"></div>
                        </div>
                    </div>

                    <br>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section dark-bg pv-40 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <h3 class="title"><strong>Subscribe</strong> Today</h3>
                                <p>Join our team of customers who have been solving great problems with our solutions.</p>
                                <div class="separator"></div>
                                <form class="form-inline margin-clear">
                                    <div class="form-group has-feedback">
                                        <label class="sr-only" for="subscribe3">Email address</label>
                                        <input type="email" class="form-control" id="subscribe3" placeholder="Enter email" name="subscribe3" required="">
                                        <i class="fa fa-envelope form-control-feedback"></i>
                                    </div>
                                    <button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">Submit <i class="fa fa-send"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

}
